
*.txt
*__pycache__
src/data/datasets/
src/results/
src/.idea/
src/data/__pycache__/
src/methods/__pycache__/
src/methods/Finetune/__pycache__/
src/methods/SI/__pycache__/
src/methods/MAS/__pycache__/
src/framework/__pycache__/
src/data/models/
src/framework/__pycache__/eval.cpython-37.pyc
src/runTinyScriptsWin/
src/runTinyScripts/
src/runRetinaScriptsWin/